<my-app-nav [isShrinkNav]="true"></my-app-nav>
<div style="text-align: center;padding-top: 50px;padding-bottom: 50px;">
    <img src="../content/gcc_static.png" />
</div>
<!--<h2>My Alerts</h2>
<ul class="gcc-alerts">
    <li *ngFor="let gccAlert of gccAlerts"
        [class.selected]="gccAlert === selectedGccAlert"
        (click)="onSelect(gccAlert)">
        
        <span class="badge">{{gccAlert.severity}}</span> {{gccAlert.component}}
    </li>
</ul>
<div *ngIf="selectedGccAlert">
    <h2>
        {{selectedGccAlert.component}} is affected with severity {{selectedGccAlert.severity}} issue.
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>
<div>
    <div>
        <label>Alert Component:</label>
        <input #alertComponent />
    </div>
    <div>
        <label>Alert Severity:</label>
        <input #alertSeverity />
    </div>
    <div>
        <label>Alert Description:</label>
        <input #alertDescription />
    </div>
    <button (click)="add(alertComponent.value
                            , alertSeverity.value
                            , alertDescription.value);
                        alertComponent.value='';
                        alertSeverity.value='';
                        alertDecsription.value=''
                    ">
        add
    </button>
</div>-->