<div class="site-header header" [ngClass]="{'shrink': isShrinkNav }">
    <div class="row">
        <div class="brand-container medium-12 large-4 columns small-centered medium-uncentered" style="width:33.3%;">
            <a class="site-header--logo" href="/index.html" style="background-image:url('../content/bt-logo.png');"></a>
            <a routerLink="/dashboard" class="site-header--title">
                BT <i>On Demand</i>
            </a>
        </div>

        <div class="medium-12 large-8 columns" style="width:66.6%; display:inline-block; text-align: right; margin-top:15px;margin-bottom:5px;">
            <nav>
                <a routerLink="/getSupport" routerLinkActive="active">Get Support</a>
                <a routerLink="/alerts" routerLinkActive="active">My Alerts</a>
                <a routerLink="/tickets" routerLinkActive="active">My Tickets</a>
                <a routerLink="/favorites" routerLinkActive="active">My Favorites</a>
                <a (click)="toggleAdminMenu()">Admin Tools</a>
            </nav>
        </div>
    </div>
</div>

<div [hidden]="!isAdminMenuVisible" class="admin-menu" [ngClass]="{'shrink': isShrinkNav }">
    <a (click)="modal.show(); hideAdminMenu()">Log in as Eliza</a>
</div>
<phone-modal>
    <div class="chatbot-phone">
        <div id="chatbot" class="screen">
            <iframe name="frame" src='https://webchat.botframework.com/embed/pzbot?s=yhRhMydRpB4.cwA.ObU.aO75VwtJcZuzaINTWahl9M1ozy0LoXgrwJLOnhwhO9U'></iframe>
        </div>
    </div>
<!--
    
    <div class="app-modal-body">
        <img src="../content/iphone6-portrait-white.png" style="width:100%;" />
        <iframe src=''></iframe>
    </div> -->
</phone-modal>