.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
    z-index: 1000;
}

.site-header--logo {
  width: 2.2rem;
  height: 2.2rem;
  background-position-x: 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.site-header .site-header--title {
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    display: inline-block;
    padding-left: 0.8rem;
    vertical-align: middle;
    margin-bottom: -0.2rem;
}
.header.shrink {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  box-shadow: 4px 4px 6px rgba(20, 20, 20, 0.1);
  top: 0px;
  width: 100%;
}
.header .row .brand-container {
    text-align: left;
}
.header.shrink .row .brand-container {
  margin-top: 5px;
}
.header nav, .header .brand-container {
  margin-top: 10px;
  text-align: right;
}
.header.shrink nav {
  margin-top: 0px;
}
.header.shrink a, .header.shrink .site-header--title {
  color: #0054a3;
}
.header.shrink a:hover {
    border: 1px solid #0054a3;
}
.header.shrink .site-header--title:hover {
    border:none;
}
nav a {
  text-decoration: none;
  padding: 0.7rem 1rem;
  color: #FFFFFF;
  font-weight: bold;
}
nav a:visited, a:link {
  /*color: #607D8B;*/
}
nav a:hover {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  cursor: hand;
}
nav a.active {
  /*color: #039be5;*/
}

.admin-menu {
    border: 1px solid #FFFFFF;
    background: #0054a3;
    color: #FFFFFF;
    width: 130px;
    padding: 5px;
    position: fixed;
    left: 1413px;
    top: 55px;
}

.admin-menu.shrink {
    border: 1px solid #0054a3;
    background: #FFFFFF;
    color: #FFFFFF;
    top: 50px;
    z-index: 1000;
}

.admin-menu a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.admin-menu.shrink a {
    color: #0054a3;
    cursor: pointer;
    cursor: hand;
}

.modal-dialog {
    width: 380px;
    margin-top: 100px;
}

.chatbot-phone, .phone {
            margin: -240px auto auto auto !important;
            position: absolute;
            width: 400px;
            height: 820px;
            /*background: url("/Content/img/iphone-portrait.png?v=1122015");*/
            background: url("../content/iphone6-portrait-white.png");
            background-size: 100%;
            background-repeat: no-repeat;
        }

        .close a {
            display: block;
            position: absolute;
            opacity: 0;
            background: blue;
        }

        .chatbot-phone .screen {
            position: absolute;
            top: 60px;
            width: 400px;
            height: 638px;
            color: #fff;
            display: none;
        }

            .chatbot-phone .screen:first-child {
                display: block;
            }

            .chatbot-phone .screen iframe, .chatbot-phone .screen img {
                width: 368px;
                height: 627px;
                border: 0;
            }

            .chatbot-phone .screen iframe {
                background: #fff;
                position: absolute;
                top: 40px;
                left: 15px;
            }

            .chatbot-phone .screen a {
                display: block;
                position: absolute;
                opacity: 0;
                background: #00b1ff;
            }